/*CSS START*/

body {
	text-align: center;
	padding: 0px;
	margin: 0px;
	font-family: "productSans";
}

@font-face {
  font-family: productSans;
  src: url(../fonts/ProductSans-Regular.otf);
}

#wrapper {
	width: 1000px;
	margin: 0px auto;
}

#mainLogo {
	width: 400px;
	margin: 0px auto;
}

#header {
	margin: 0px;
	width: 100%;
}

#header p {
/*	width: 80%;*/
	margin: 0px auto;
	margin-top: -32px;
	padding: 16px;
	text-align: justify;
}

.chartSpace {
	margin: 0px auto;
	border-bottom: 2px #ccc solid;
	margin-bottom: 32px;
	padding-bottom: 32px;
/*	width: 600px;*/
}


.chartSpace h2 {
	display: block;
}

.chartSpace canvas {
	width: 80%;
	padding-bottom: 32px;
	display: flex;
}

.chartSpace p {
	width: 80%;
	margin: 0px auto;
}

.wordSpace {
	text-align: justify;
}

#radarSpace {
	width: 1000px;
	display: flex;
	flex-direction: row;
	margin-left: -50%;
}

@media SCREEN and (max-width: 1000px) {

#wrapper {
	width: 100%;
	margin: 0px auto;
}

.chartSpace {
	margin: 0px auto;
	padding: 0px;
	border-bottom: 2px #ccc solid;
	width: 90%;
}

#header p {
	width: 80%;
	margin: 0px auto;
	margin-top: -32px;
}

.chartSpace p {
	width: 100%;
	margin: 0px auto;
	padding-bottom: 32px;
}


#radarSpace {
	width: 100%;
	flex-direction: column;
	margin-left: 0px;
	margin: 0px auto;
	}

#radarSpace canvas {
	margin: 0px auto;
	padding: 0px;
	}
}